/*style the navbar background and brand */
.navbar{
    background-color: #200ec4;
}
.navbar .navbar-brand{
    color: aliceblue;
}
/* style the navigation links */
.navbar .nav-link {
    color: aliceblue !important; /* white text color */
    text-decoration: none !important; /* remove underline */
    margin-right: 20px; /* add margin between links */
}
/* add media query for small screens */
@media(max-width:576px)
{
    .navbar .nav-link {
        margin-right: 0; /* remove margin for small screens */
    }
}